.flip-card-container {
    perspective: 1000px;
    cursor: pointer;
    width: auto;
    height: 45vh;
  }
  
  .flip-card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .front-flip-card, .back-flip-card {
    width: 100%;
    height: 100%;
  }
  .back-flip-card {
    border: 2px solid #e87698;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
  }
  
  .flipped .flip-card {
    transform: rotateY(180deg);
  }