.galery-grid-container{
    display: grid;
    grid-template-columns: 15vw 35vw;
}
.galery-grid{
    margin: 10px;
}
.galery-grid-img{
    border: 2px solid #e87698;
    width: 100%;
    height: 100%;
}
.galery-grid-text{
    margin: 0;
}