.galery-grid-container{
    display: grid;
    grid-template-columns: 15vw 25vw;
    margin-left: 30vw;
}
.galery-grid{
    margin: 10px;
}
.galery-grid-img{
    border: 2px solid #e87698;
    width: 100%;
    height: 100%;
}
.galery-topic-headline{
    font-family: "Minecraft";
    font-size: 4vw;
    margin-left: 34.5vw;
}