.header-container{
    background-color: #fd95b4;
    border: solid #e87698;
    border-width: 0px 0px 2px 0px;
    margin-bottom: 4vh;
    color: #2c2729;
    font-size: 17px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
}
.header-container img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 2px;
    margin-left: 3px;
}
.header-container-right {
    float: right;
    margin-top: 2px;
    margin-right: 3px;
}
.header-container-right img{
    width: 30px;
    height: 30px;
    border-radius: 0;
    margin-top: 0;
}
.header-button{
    background-color: #fd95b4;
    border: 0px;
    border-radius: 15%;
    margin-left: 1%;
    margin-right: 1%;
}
.header-button:active{
    background-color: #fcb2c8;
}