.footer-container{
    margin-top: 2vh;
    text-align: center;
}
.footer-container img{
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    margin: 2px;
}
.footer-container a{
    margin-left: 1%;
}
