.blog-grid-container{
    margin-top: 7.5vh;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    justify-items: center;
}
.blog-headline{
    text-align: center;
}
.blog-grid{
    margin: 2px;
}
.blog-button{
    background-color: #fd95b4;
    border: 2px solid #e87698;
    border-radius: 15px;
    text-align: center;
}
.blog-button:active{
    background-color: #fd95b4;
    border: 1px solid #e87698;
    border-radius: 15px;
    text-align: center;
}