.blog-grid-container{
    margin-top: 7.5vh;
    display: grid;
    grid-template-columns: 26vw 26vw;
    justify-content: center;
}
.blog-grid{
    margin: 2%;
}
.blog-headline{
    border: 2px solid #e87698;
    width: 100%;
    height: 100%;
    text-align: center;
}