.welcome-text-container{
    margin-top: 30vh;
    margin-bottom: 30vh;
}
.welcome-headline{
    font-family: "Minecraft";
    font-size: 4vw;
    margin-left: 33vw;
}
.welcome-text{
    font-size: 2vw;
    margin-left: 42vw;
}