@font-face {
  font-family: "Terminus";
  src: url(./assets/fonts/TerminusTTF.ttf);
}
@font-face {
  font-family: "Minecraft";
  src: url(./assets/fonts/minecraft.ttf)
}
body{
  background-color: #2c2729;
  font-family: "Terminus";
  color: #f6e9cb;
}
.topic-h1-headline{
  font-family: "Minecraft";
  font-size: 4vw;
  text-align: center;
}
.content-container{
  margin-left: 25vw;
  margin-right: 25vw;
  justify-content: center;
}