.edit-todo-post-container{
    border: 1px solid #e87698;
    background-color: #2c2729;
}
.todo-post-container{
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    width: 50%;
}
.todo-post-container select{
    border-radius: 5rem;
    font-size: 0.75vw;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.todo-post-container select *{
    background-color: black;
}

.todo-post-container p{
    color: #c4b9a1;
}
.todo-post-container img{
    margin-bottom: 2%;
    margin-right: 1%;
    width: 5%;
}
.todo-post-right{
    position: absolute;
    right: 37.5%;
    left: 59.5%;
}