.todo-post-container{
    margin: 5px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fd95b4;
    border: 1px solid #e87698;
    border-radius: 2rem;
    text-align: center;
}

.todo-post-container input{
    margin: 5px;
}